

/* Set background color to black */
body {
    background-color: #36393f;
    color: #fff; /* Set text color to white */
}
/* Set background color of tabs to black */
.nav-tabs .nav-link {
    color: #fff; /* Set text color to white */
}
/* Set background color of active tab to darker black */
.nav-tabs .nav-link.active {
    background-color: #000;
}
/* Set text color of active tab to white */
.nav-tabs .nav-link.active {
    color: #fff;
}
/* Set background color of tab content to black */
.tab-content {
    color: #fff; /* Set text color to white */
}

.toast {
    position: fixed;
    top: 20px;
    right: 40%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    z-index: 9999;
    opacity: 0; /* Initially hide toast */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity change */
}



.chat-window {
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 50%; /* Set maximum height */
    border: 1px solid #ccc; /* Add border */
    padding: 10px; /* Add padding */
}

.chat-message {
    margin-bottom: 10px; /* Add spacing between messages */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
}

.chat-nick {
    min-width: 100px; /* Set minimum width for nickname column */
    font-weight: bold; /* Bold sender name */
    color: #ac0ab8; /* Dark color for sender name */
    margin-right: 10px; /* Add spacing between nickname and message content */

}

.chat-content {
    flex-grow: 1; /* Allow message content to grow and fill remaining space */
    color: #ffffff; /* Color for message content */
    border-left: 1px solid #ccc; /* Add left border to separate nickname and message content */
    padding-left: 10px; /* Add padding for readability */
}

/* Hide the default checkbox */
.styled-checkbox {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

/* Style the label to look like a checkbox */
.checkbox-label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    margin-right: 50px;
}

/* Create the checkmark */
.checkbox-label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    border-radius: 3px;
}

/* Style the checkmark when the checkbox is checked */
.styled-checkbox:checked + .checkbox-label:before {
    background-color: #007bff;
    border-color: #007bff;
}



/* Show the checkmark icon when the checkbox is checked */
.styled-checkbox:checked + .checkbox-label:after {
    display: block;
}

/* Style the checkbox wrapper */
.checkbox-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    line-height: 1.5;
}

th {
    color: white;
}


/* Table style */
.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Table header style */
.table th {
    color: #dee2e6;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
}

/* Table row style */
.table tr {
    border-bottom: 1px solid #dee2e6;
}

/* Table cell style */
.table td {
    padding: 8px;
}

/* Alternate row color */
.table tbody .account:nth-child(even) {
    background-color: #f8f9fa;
}

/* Hover effect */
.table tbody .account:hover {
    background-color: #e9ecef;
}

#accountsTable th, #accountsTable td,  #accountsTable tr {
    text-align: center;
}

#accountsTable input {
    width: 70%;
    text-align: center;
    display: block; /* Change the display property to block */
    margin: 0 auto; /* Set margin to auto to horizontally center the input elements */
}

#saveButton, #saveConfigButton, #saveButton-WordCounter {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#saveButton:hover, #saveButton-WordCounter:hover {
    background-color: #45a049;
}

#saveConfigButton {
    background-color: #007bff;
}

#saveConfigButton:hover {
    background-color: #285b90;
}

#activeAccButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 20px; /* Adjust font-size as needed */
    line-height: 40px; /* Center the icon vertically */
    width: 40px; /* Set width to make it square */
    height: 40px; /* Set height to make it square */
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    outline: none; /* Remove outline on focus */
}

#activeAccButton:hover {
    background-color: #45a049; /* Darker green */
}

.retractable-panel {
    transition: width 0.3s ease, opacity 0.3s ease; /* Add opacity transition */
    width: 15%; /* Initial width */
    opacity: 1; /* Initial opacity */
    overflow: hidden; /* Hide overflow content */
    padding: 0;
}

.retracted {
    width: 0; /* Set width to 0 when retracted */
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
    opacity: 0; /* Set opacity to 0 when retracted */
}


.nickname-item {
    padding: 1.5vw; /* Add padding relative to viewport width */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Transition effect */
    text-align: center;
    font-size: 1.5vw; /* Set font size relative to viewport width */
}

#channelInput {
    text-align: center;
    width: 100%;
    margin: 0;

}

#channelButton {
    text-align: center;
    width: 100%;
    font-size: 1vw;
    margin: 0;
    user-select: none;
    outline: none;
    
}



.nickname-item:hover {
    background-color: #e0e0e0; /* Background color on hover */
    color: #000;
}

#nicknameListContainer {
    max-height: 100vh; /* Set max height to 80% of viewport height */
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
}

.selected {
    background-color: #ccc; /* Change background color to indicate selection */
    color: #000; /* Change text color */
}



/*On/Off button for accounts*/

/* CSS for the toggle button */
.toggle-button {
    background-color: #f44336; /* Red background color */
    border: none;
    color: #fff; /* Default text color */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* CSS for the toggle button when it's on */
.toggle-button.on {
    background-color: #4CAF50; /* Green background color */
}

/* CSS for button text */
.toggle-button span {
    font-weight: bold;
}

/* CSS for button text when it's on */
.toggle-button.on span {
    color: #fff; /* White text color */
}

/* CSS for button text when it's off */
.toggle-button.off span {
    color: #000; /* Black text color */
}





/* Style for WordDetection tab */
#WordDetection {
    padding: 20px;
}

/* Style for active accounts list */
#activeAccountsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style for each account settings */
.accountSettings {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.accountSettings h4 {
    margin-top: 0;
}

.settingsList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.settingsList li {
    margin-bottom: 10px;
    margin-right: 20px; /* Add margin between input pairs */
}

.settingsList li label {
    font-weight: bold;
    margin-right: 5px;
    width: 120px; /* Set a fixed width for labels */
}

.settingsList li input {
    width: 100px;
    padding: 5px;
    border: 0px solid #ccc;
    border-radius: 3px;
}

/* Word Detection Settings */
#activeAccountsWordCounter {
    max-width: 200px;
    margin-bottom: 20px;
}


#activeAccountsWordCounter td {
    padding: 6px;
    text-align: left;
    font-size: 0.8vw;
}

/* Style for table headers */
.word-counters-table th {
    padding: 10px;
    text-align: left;
    font-size: 0.9vw;
}

/* Style for table data cells */
.word-counters-table td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Gray border bottom */
}

.word-counter-remove {
    background-color: #dc3545;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for add button */
.add-button {
    background-color: #007bff; /* Blue */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8vw;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.word-counter-remove:hover {
    background-color: #c82333;
}
